
h1, h2, h3, h4, h5, h6 { margin-bottom: 0; }
h1 { font-size: 1.4em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4, h5, h6 { font-size: 1.1em; }
p { margin-top: 1em; }

ul {
	margin-top: 1em;
}

#resumecontact { float: right; }
#resumename { float: left; }
#main { clear: both; }
ul#resumecontact {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 0;
}
#resumeheader { margin-top: 1em; }
#resumecontact { margin-bottom: 1em; }

@media print {
	body, li, p {
		font-size: 11pt;
	}
	@page {
		margin: 1cm;
	}
}
