div.highlight {
	background-color: black;
	border: solid 1px #ccc;
	margin-bottom: 1em;
}

div.highlight pre code {
	font-family: Inconsolata, monospace;
	color: rgb(179,179,179);
}

/* Comments */
.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
	color: rgb(85, 255, 255);
}

/* Keywords */
.highlight .k {
	color :rgb(255, 255, 85);
}

/* Keyword.Declaration */
.highlight .kd {
	color :rgb(85, 204, 85);
}

/* Literal Numbers, strings */
.highlight .m, .highlight .s,
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo,
	.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2,
	.highlight .se, .highlight .sh, .highlight .si, .highlight .sx
{
/*	color: rgb(204, 85, 204); */
	color: rgb(255, 85, 255);
}
