---
layout: default
title: Wez Furlong, Open Sourceror
---

<div class="media">
  <span class="pull-left">
    <img alt="Wez Furlong" border="0"
      height="75" width="75"
      class="photo img-polaroid" src="/images/wez-flame-hair.jpg">
  </span>
  <div class="media-body">
    <blockquote>
      <p>
    I'm a software engineer from England living in Phoenix, Arizona.
    I like to unwind with an occasional single malt and a good movie. If I
    can't get my hands on those, I'll substitute bourbon, bad sci-fi or gaming.
    </p>
  </blockquote>
  </div>
</div>

<div class="well">

<div class="media">
<a title="Subscribe to my blog" rel="alternate"
	class="feedlink pull-left"
	type="application/rss+xml"
	href="https://wezfurlong.org/feed.xml"><img
	src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png"
	width="32" height="32" alt="Subscribe to my blog"></a>
<div class="media-body">
  You can find me on
  <a rel="me" href="https://www.facebook.com/wezfurlong">Facebook</a>,
  <a rel="me" href="https://fosstodon.org/@wez">The Fediverse</a>,
  <a rel="me" href="http://www.twitter.com/wezfurlong">Twitter</a>,
	<a rel="me" href="http://www.linkedin.com/in/wezfurlong">LinkedIn</a>,
	<a rel="me" href="https://github.com/wez">GitHub</a> and
	<a rel="me" href="https://bitbucket.org/wez">BitBucket</a>.<br>
	You may also wish to <a href="https://wezfurlong.org/feed.xml"
	>subscribe to my blog</a>.
</div>
</div>
</div>

<div class="page-header">
  <h2>Recent Articles <small>check the archives for more!</small></h2>
</div>

<div class="media">
  {% for post in site.posts limit:5 %}
  <div class="media">
    <h4 class="media-heading"><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <div class="media-body">
	  	Posted on {{ post.date | date_to_string }}{% if post.updated %}, Updated on {{ post.updated | date_to_string }}{% endif %}
    </div>
  </div>
  {% endfor %}
</div>

