/* Credits and Kudos to Matthew James Taylor.
 * Layout borrowed from:
 * http://matthewjamestaylor.com/blog/perfect-3-column-blog-style.htm
 */

body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	background: #fff;
	font-family: Lucida Grande, Lucida Sans Unicode, Arial, verdana, sans-serif;
	font-size: 90%;
}

img {
	border: none;
}

#navtitle {
	clear: both;
	float: left;
	width: 100%;
	color: white;
    background-color: #210040;
	border-bottom: 4px solid rgb(141,139,156);
	font-family: "trebuchet ms", verdana, sans-serif;
}

#tpad {
	padding: 1em;
}

#maintitle {
	font-size: 180%;
}

#maintitle a {
	color: white;
	text-decoration: none;
}


/* column container */
.colmask {
	position:relative;		/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;				/* width of whole page */
	overflow:hidden;			/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;				/* width of page */
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	/* no left and right padding on columns, we just make them narrower instead
	 * only padding top and bottom is included here, make it whatever value you
	 * need */
	padding:0 0 0 0;
	overflow:hidden;
}
.onlycol {
	padding: 0 1.5em 0 1.5em;
}

/* info bar column bits */

#infobar {
	/* right column background colour */
	background:#eee;
	font-size: 90%;
	border-bottom: 1px solid #eee;
}
#infobar .colmid {
	/* width of the right column */
	right:25%;
	/* center column background colour */
	background:#f4f4f4;
}
#infobar .colleft {
	/* width of the middle column */
	right:25%;
	/* left column background colour */
	background:#fff;
}
#infobar .col1 {
	/* width of center column content (column width minus padding on either
	 * side) */
	width:46%;
	/* 100% plus left padding of center column */
	left:52%;
	margin-top: 1em;
	padding-bottom: 1em;
}
#infobar .col2 {
	/* Width of left column content (column width minus padding on either side)
	 * */
	width:21%;
	/* width of (right column) plus (center column left and right padding) plus
	 * (left column left padding) */
	left:56%;
	margin-top: 1em;
}
#infobar .col3 {
	/* Width of right column content (column width minus padding on either
	 * side) */
	width:21%;
	/* Please make note of the brackets here: (100% - left column width) plus
	 * (center column left and right padding) plus (left column left and right
	 * padding) plus (right column left padding) */ 
	left:60%;
	margin-top: 1em;
	font-size: 90%;
}

#infobar {
	margin-bottom: 1em;
}

#mugshot {
	float: left;
	padding: 0 0.5em 0 0;
}

#footer {
	clear: both;
	float: left;
	width: 100%;
	color: white;
	border-top: 1px solid #eee;
	overflow:hidden;
/*	margin-top: 5em; */
}
#footer p {
	font-family: "trebuchet ms", verdana, sans-serif;
	margin:0;
	padding: 1em;
}
	/*
#content .colmask {
	padding-bottom: 5em;
}

#content .col1, #content .col2 {
	padding-top: 1em;
}

#content .col2 {
	font-size: 90%;
}

#content .col2 .flt {
	float: left;
	padding: 0 0.5em 0 0;
}
*/

/* 2 column right menu settings */
.rightmenu .colleft {
	right:25%;
	background:#fff;
}

.rightmenu .col1 {
	width:71%;
	left:27%;
}
.rightmenu .col2 {
	width:21%;
	left:31%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "trebuchet ms", verdana, sans-serif;
}
h1.subject a, h2.subject a {
	text-decoration: none;
	color: black;
}
h2.subject a:hover {
	background-color: gold;
}

h1.subject, h2.subject {
	clear: both;
}
div.excerpt {
	padding-bottom: 2em;
}

.when {
	color: #777;
}

p.lure a {
	font-style: italic;
	color: #444;
}

#authblurb {
	float: right;
	width: 50%;
	margin-left: 2em;
	font-size: 0.9em;
}

#authform {
	width: 50%;
}

#authform a.rpxnow {
	border-left: solid 2px #ccc;
	border-top: solid 2px #ccc;
	border-bottom: solid 2px #777;
	border-right: solid 2px #777;
	background-color: #eee;
	color: black;
	font-family: sans-serif;
	padding: 0.2em;
	text-decoration: none;
	text-align: center;
}

#authform input.button {
	border-left: solid 2px #ccc;
	border-top: solid 2px #ccc;
	border-bottom: solid 2px #777;
	border-right: solid 2px #777;
	background-color: #eee;
	color: black;
	font-family: sans-serif;
	padding: 0.2em;
	text-decoration: none;
	text-align: center;
}

#authform a.rpxnow:hover, #authform input.button:hover {
	background-color: gold;
}

dl.conferences dt {
	margin-top: 1.2em;
	font-weight: bold;
}

pre, code {
	font-family: consolas, 'courier new', monospace;
}

#workplay {
	position: static;
}

div.bitbucketinfo {
	font-size: 0.8em;
}

div.bitbucketinfo div.bbsummary {
	/*
	padding-right: 70px;
	min-height: 64px;
	*/
}


div.bitbucketinfo .commitlog {
	color: #777;
}

.projinfo {
	border-top: 1px solid #eee;
	padding-top: 1em;
	padding-bottom: 2em;
}

.projinfo img {
	float: right;
	padding-left: 1em;
}

div.comment {
	margin-left: 4em;
}

div.comment div.who {
	background:#eee;
	padding: 0.5em;
	border: 1px solid #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
div.comment div.who img {
	vertical-align: middle;
	border: solid 1px #ccc;
	margin-right: 1em;
}
div.comment div.who a.who {
	margin-right: 1em;
}

div.comment div.commenttext {
	padding: 1em;
}

ul.recentarticles, ul.taglist {
	padding-left: 0;
	margin-left: 0;
}

ul.recentarticles li, ul.taglist li {
	list-style: none;
	font-size: 0.8em;
	padding-bottom: 0.75em;
	font-family: "trebuchet ms", verdana, sans-serif;
	font-weight: bold;
}

ul.recentarticles li a, ul.taglist li a {
	text-decoration: none;
	color: #777;
}

ul.recentarticles li a:hover, ul.taglist li a:hover {
	background-color: gold; /*#f63; */
	color: black;
}

#recentarticles h2, #recentarticles h3 {
	color: #666;
}

/*
#recentarticles div.col2 {
	background:#eee;
	padding: 0.5em;
	border: 1px solid #ccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}
*/

a.blognav {
	font-family: "trebuchet ms", verdana, sans-serif;
	color: black;
	font-weight: bold;
}

a.blognav.older {
	float: right;
}

#footer {
	margin-top: 5em;
	background-image: url(images/gradient-footer.png);
	background-repeat: repeat-x;
	min-height: 28px;

}

#copyright a {
	color: #777;
	font-size: 0.9em;
	text-decoration: none;
}

p {
	max-width: 55em;
	line-height: 150%;
}

a.permalink {
}

ul.dsq-widget-list {
	line-height: normal;
	font-size: 0.75em;
	line-height: 100%;
	color: #777;
}
p.dsq-widget-meta {
	font-size: 100% !important;
}
p.dsq-widget-meta a {
	font-family: "trebuchet ms", verdana, sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: black;
}
p.dsq-widget-meta a:hover {
	background-color: gold;
}
/*
.dsq-widget-comment {
	line-height: normal;
	font-size: 0.75em;
	line-height: 100%;
}
*/
