---
layout: default
title: Wez Furlong's Archives
---

<div class="page-header">
  <h1>Archives</h1>
</div>

<div class="well">
<p>
	Here you will find a complete listing of all articles that I've made since
	the humble beginnings of my blog.  Click on the orange feed icon to
	subscribe to the latest updates.
</p>

    <a title="Subscribe to my blog" rel="alternate"
      type="application/rss+xml"
      href="https://wezfurlong.org/feed.xml"><img
        src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png"
        width="32" height="32" alt="Subscribe to my blog"></a>

</div>

<ul>
  {% for post in site.posts %}
    <li>
      <div class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class='post-info'>
	  	Posted on {{ post.date | date_to_string }}{% if post.updated %}, Updated on {{ post.updated | date_to_string }}{% endif %}
  {% for topic in post.categories %}
    <a class="label" href="{{ site.url }}/blog/tag/{{ topic | downcase }}/" title="View posts tagged with &quot;{{ topic }}&quot;">{{ topic }}</a>{% if forloop.last != true %}, {% endif %}
  {% endfor %}

      </div>
    </li>
  {% endfor %}
</ul>

</div>

