---
layout: static
---

<ul id='archive'>
	{% for post in page.posts %}
    <li>
      <div class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class='post-info'>
	  	Posted on {{ post.date | date_to_string }}{% if post.updated %}, Updated on {{ post.updated | date_to_string }}{% endif %}
  {% for topic in post.categories %}
    <a class="label" href="{{ site.url }}/blog/tag/{{ topic | downcase }}/" title="View posts tagged with &quot;{{ topic }}&quot;">{{ topic }}</a>{% if forloop.last != true %}, {% endif %}
  {% endfor %}

      </div>
    </li>

	{% endfor %}
</ul>

