---
layout: default
---

<div class="page-header">
  <h1>{{ page.title }}<br>
  <small>
    Posted on {{ page.date | date_to_string }}{% if page.updated %}, Updated on {{ page.updated | date_to_string }}{% endif %}
  </small>
  </h1>
</div>

<div class="item_meta">
  {% for topic in page.categories %}
    <a class="label" href="{{ site.url }}/blog/tag/{{ topic | downcase }}/" title="View posts tagged with &quot;{{ topic }}&quot;">{{ topic }}</a>{% if forloop.last != true %}, {% endif %}
  {% endfor %}
</div>

<div class="container">
  {{ content }}
</div>

{% if page.comments_disabled != true %}
<hr>
<div id="comments">
  <a href="{{ page.url }}#disqus_thread">View Comments</a>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
var disqus_developer = 0;
var disqus_shortname = 'evilasindr';
var disqus_title = '{{ page.title | replace:"'","\\'" }}';
var disqus_identifier = '{% if page.uniqid %}{{ page.uniqid }}{% else %}{{ page.url }}{% endif %}';
  </script>
</div>
<br/>
{% endif %}
